body{
    background-color: rgb(54, 255, 245);
    text-align: justify;
    margin: 0;
    font-size: 20px;
    position: relative;
}
header{
    top: 1px;
    text-align: center;
    position: sticky;
}
main{
    margin: 15px;
}
div{
    padding-left: 300px;
    padding-right: 150px;
    border: 2px solid blue;
    border
}
footer{
    padding-left: 300px;
    padding-right: 150px;
    border: 2px solid blue;
    border
    margin: 15px;
}
