@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');


body{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: white;
    font-family: "Anta", sans-serif;;

}

header{
    text-align: center;
    top: 10px;
}

main{
    margin: 2rem;
    

    }
    div{
        padding-right: 150px;
        border: 2px solid blue;
    }
    footer{
        border: 2px solid blue;
        margin: 15px;
        margin-bottom: 100px;
}



