    @import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');

:root {
    font-size: 16px;
    scroll-behavior: smooth;
    
                            /*TEMA:claro  */
    --planofundo:#00000;
    --cor-primaria-texto: #353535;
}

[data-tema="light"]{
    --plano-fundo:#fcfcfc;
    --cor-tema-texto:#000000;
    --color-h2:blue;
    --hover-style-none: none;
    --h2-text-style: justify;
}
[data-tema="dark"]{
    --plano-fundo:#000000;
    --cor-tema-texto:#ffffff;
    --color-h2:rgb(255, 255, 255);
    --hover-style-none: ;
    --h2-text-style: justify;
}

body {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "anta", sans-serif;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    background-color: var(--plano-fundo);
    color:var(--cor-tema-texto);
}
#eu{
    text-align: center;
    padding-left: 40px;
}

    
header {
    text-align: center;
    top: 25px;
    padding: 10px;
    

}

#main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    
    
}

#main:hover {
    transform: scale(1);
    transition-delay: 2s;
    transition: 3s;
    opacity: var(--hover-style-none);

}

/* #main:hover {
    transform: scale(0.9);
    transition-delay: 0.8s;
    transition-duration: 10ms;
    transition: 2s;

}*/
    




h1 {
    font-size: 4rem;
    padding: 30px;
}

h2 {
    height: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 9 00;
    text-transform: uppercase;
    margin: 1rem;
    color: var(--color-h2);
}


footer {
    /* margin: 15px;
    width: 100%; */
    text-align: center;
    /* height: 100px; */
}

footer a {
    padding-right: 50px;
}

footer:hover {
    background-color: #9dcaf7;
}

p,
li {
    line-height: 1.5;
    margin: 1rem 0;
    padding-left: 10px;
}

                                /* estilo do scroll */


::-webkit-scrollbar {
    background-color: rgb(0, 0, 0);
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(36, 36, 222);
    border-radius: 10px;
}

                                    /* CORES*/

#apresentacao:hover {
    background-color: #298686;
}


#sobre-mim:hover {
    background-color: #8a2be2;
}

#formacao:hover {
    background-color: #00cb87;
}

#competencias:hover {
    background-color: #6495ed;
}

#soft:hover {
    background-color: #34edf3;
}

#idiomas:hover {
    background-color: #008b8b;
}


                                /* estilizando  o footer */

#tecnologias {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;


}

#tecnologias:hover {
    background-image: linear-gradient(to bottom right, rgb(0, 170, 255), rgb(0, 128, 107), rgb(158, 48, 255));
}

#tecnologias article h1 article {
    width: 30%;
}

article {
    width: 70%;
    padding: 2rem;
    /* background-color: #cecece; */

}

article h1 {
    font-size: 2rem;
    font-weight: bold;
    /*700 = negrito*/
    margin: 0 0 1rem 0;
}

article h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

article .autor {
    font-family: oblique;
    font-weight: 600;
    font-size: 80%;
}

article .data {
    font-family: oblique;
    font-size: 80%;
}

.continueLendo {
    background-color: rgb(81, 210, 30);
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}





article p {
    text-align: justify;
    margin-bottom: 1rem;
    height: 150px;
    overflow: hidden;
}

.lista-tag li {
    display: inline-block;
    background-color: #cecece;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
}

